.ordtxt{
	box-shadow: 5px 5px 10px #00000028, -5px -5px 15px #ffffff;
	padding: 2% 5%;
	margin: 2% 0%;
	font-family: Helvetica;
	font-size: 125%;
	font-weight: lighter;
	-moz-border-radius: 20px;
	-ms-border-radius: 20px;
	-webkit-border-radius: 20px;
	-o-border-radius: 20px;
	overflow: auto;
}

#oop{
  font-size: 250%;
  background: -webkit-linear-gradient(#aa4444, #4444aa);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}